#aboutWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    #selena {
        margin: rem-calc(40) rem-calc(10);
        display: flex;
        flex-direction: column;
        border: 4px solid $teal;
        padding: rem-calc(20) 0;
        @media (min-width: 750px) {
            flex-direction: row;
            max-width: 1300px;
        }
        .profilePic {
            margin-top: rem-calc(-50);
            position: absolute;
            align-self: center;
            margin-bottom: rem-calc(20);
            @media (min-width: 750px) {
                margin: 0 rem-calc(40);
            }
        }
        .profileTxtWrap {
            padding-top: rem-calc(300);
            width: 80%;
            align-self: center;
            @media (min-width: 750px) {
                flex-direction: row;
                margin-left: 50%;
                margin-right: rem-calc(20);
                margin-bottom: rem-calc(50);
                padding: rem-calc(10);
            }
            @media (min-width: 900px) {
                margin-left: 40%;
            }
            @media (min-width: 1200px) {
                margin-left: 30%;
            }
        }
    }
}