.button {
    background: transparent linear-gradient(180deg, $green 0%, $teal 100%) 0% 0% no-repeat padding-box;
    border-radius: 51px;
    padding: 30px 50px;
    font-size: 23px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}