        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 400px;
            margin: 0 auto;
            padding: 30px;
            border-radius: 25px;
            box-shadow: 0 2.8px 2.2px rgba(40, 92, 159, 0.034), 0 6.7px 5.3px rgba(40, 92, 159, 0.048), 0 12.5px 10px rgba(40, 92, 159, 0.06), 0 22.3px 17.9px rgba(40, 92, 159, 0.072), 0 41.8px 33.4px rgba(40, 92, 159, 0.086), 0 100px 80px rgba(40, 92, 159, 0.12);
            // background-color: $dark-blue;
        }
        
        input {
            color: $dark-gray;
            font-size: 18px;
            height: 25px;
            padding: 10px 10px 5px 5px;
            display: flex;
            display: block;
            width: 300px;
            border: none;
            border-bottom: 2px solid rgba(0, 156, 253, 0.5);
            border-radius: 4px;
            background: rgba(0, 0, 0, 0);
            transition: 0.2s ease;
            &:focus {
                outline: none;
                border-bottom: 2px solid $light-blue;
                transition: .5s ease;
            }
        }
        
        .group {
            position: relative;
            margin-top: 25px;
            &.email {
                margin-bottom: 25px;
            }
            label {
                color: $dark-gray;
                font-size: 18px;
                font-weight: bold;
                position: absolute;
                pointer-events: none;
                left: 5px;
                top: 15px;
                opacity: 0.5;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }
        }
        
        input:focus~label,
        input:valid~label {
            top: -15px;
            font-size: 16px;
            color: $dark-blue;
            opacity: 1;
        }
        
        .label {
            color: $dark-blue;
            font-size: 18px;
            font-weight: bold;
            left: 5px;
            top: 15px;
            padding-bottom: 10px;
            text-transform: uppercase;
        }
        
        .submit-wrapper {
            background-color: $dark-blue;
            padding: 15px 30px;
            text-align: center;
            margin: 25px;
            width: fit-content;
            color: white;
            border-radius: 30px;
            text-transform: uppercase;
            font-size: 25px;
            cursor: pointer;
            &:hover {
                background-color: $light-blue;
            }
            .submit {
                background: none;
                border: none;
                color: white;
                font-size: 25px;
            }
        }
        
        #topic {
            cursor: pointer;
            background-color: $dark-blue;
            color: white;
            padding: 10px;
            border-radius: 4px;
            font-size: 1rem;
            &:focus {
                outline: none;
                border: none;
                transition: .5s ease;
            }
        }
        
        textarea {
            border: 2px solid $light-blue;
            border-radius: 4px;
            width: 80%;
            font-family: 'Karla', sans-serif;
            padding: 10px;
            outline: none;
            font-size: 1rem;
            resize: none;
        }