input {
    font-size: 13px;
    height: 25px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid #B1B1B1;
    color: #B1B1B1;
    background: rgba(0, 0, 0, 0);
    opacity: 0.5;
    transition: 0.2s ease;
}

input:focus {
    outline: none;
    opacity: 1;
}

.group {
    position: relative;
    margin-bottom: 25px;
}

label {
    color: #B1B1B1;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 15px;
    opacity: 0.5;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}


/* active state */

input:focus~label,
input:valid~label {
    top: -10px;
    font-size: 12px;
    color: #B1B1B1;
    opacity: 1;
}