#footer {
    background-image: url(/images/footerImg.svg);
    background-size: cover;
    background-position: center;
    // background-color: $teal;
    display: flex;
    flex-direction: column;
    margin-top: rem-calc(50);
    .footerTxt {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        color: white;
        padding: rem-calc(60) 0;
        .bannerTxt {
            padding: rem-calc(40) 0;
        }
    }
    .returnTop {
        padding: rem-calc(20);
        margin-top: rem-calc(-45);
        text-align: center;
        position: absolute;
        align-self: center;
        color: white;
        @media (min-width: 600px) {
            align-self: flex-end;
        }
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}