.header {
    background-image: url("../images/HeroImgSm.svg");
    background-size: cover;
    height: 100vh;
    @media (min-width: 600px) {
        background-image: url("../images/heroImg.svg");
        background-size: cover;
        padding: 0;
    }
}

#heroImg {
    // height: 812px;
    width: 100%;
    // margin: rem-calc(-100) auto 0 auto;
    display: flex;
    justify-content: center;
    @media (min-width: 600px) {
        justify-content: left;
    }
    .heroTxtWrap {
        display: flex;
        flex-direction: column;
        margin: rem-calc(100) 0;
        align-items: center;
        width: 80%;
        color: white;
        text-align: center;
        @media (min-width: 600px) {
            text-align: left;
            margin-left: 10%;
            align-items: flex-start;
        }
        .heroHeading {
            margin-top: 6rem;
            font-size: rem-calc(45);
            padding-bottom: rem-calc(50);
        }
        .heroSubHeading {
            font-size: rem-calc(40);
            line-height: rem-calc(47);
            padding-bottom: rem-calc(80);
        }
    }
}