#heroImg {
    background-image: url("../../images/smHeroImg.png");
    background-size: cover;
    height: 812px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .heroTxtWrap {
        display: flex;
        flex-direction: column;
        margin: 75px 0;
        align-items: center;
        width: 80%;
        color: white;
        text-align: center;
        .heroHeading {
            font-size: 45px;
            padding-bottom: 50px;
        }
        .heroSubHeading {
            font-size: 40px;
            line-height: 47px;
            padding-bottom: 80px;
        }
    }
}