@mixin gradient-button( $background: $primary-gradient, $padding: 1rem 3rem, $colour: white) {
    background: $background;
    border-radius: 3.125rem;
    padding: $padding;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $colour;
}

@mixin gradient-button-hover( $background: $secondary-gradient, $padding: 1rem 3rem, $colour: white) {
    background: $background;
    border-radius: 3.125rem;
    padding: $padding;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $colour;
}