 #mainNav {
     display: flex;
     align-self: center;
     //  flex-direction: row-reverse;
     justify-content: space-between;
     padding: rem-calc(10);
     //  background-color: blue;
     #mainLogo {
         width: rem-calc(164);
         height: 100%;
     }
     .navWrap {
         position: absolute;
         background: $primary-gradient;
         border-radius: 0 3.125rem 3.125rem 0;
         padding: 30px;
         justify-content: flex-end;
         margin-left: rem-calc(-10);
         z-index: 1;
         display: none;
         @media (min-width: 700px) {
             display: flex;
             position: relative;
             background: none;
             padding: 0;
         }
         &.selected {
             display: flex;
             justify-content: space-between;
         }
         //  background-color: aqua;
         .navList {
             @media (min-width: 700px) {
                 display: flex;
                 flex-direction: row;
             }
             .navLink {
                 text-decoration: none;
                 color: white;
                 //text-transform: uppercase;
                 @media (min-width: rem-calc(700)) {
                     border-right: 2px white solid;
                     display: flex;
                     padding: 0 1.5rem;
                     &.last {
                         border: none;
                     }
                 }
                 &:hover {
                     text-decoration: underline;
                     //  font-weight: bold;
                 }
             }
         }
     }
 }
 
 .smallNav {
     background-image: url(../../images/heroImg.svg);
     height: rem-calc(200);
     background-position: center;
 }
 
 .selected {
     display: flex;
 }