 #mainNav {
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
     margin: 0 auto;
     padding: rem-calc(10);
     //  background-color: blue;
     #mainLogo {
         width: 164px;
         height: 100%;
     }
     .navList {
         display: flex;
         justify-content: flex-end;
         //  background-color: aqua;
         .navLink {
             text-decoration: none;
             display: none;
         }
     }
 }
 
 .smallNav {
     background-image: url(../../images/smNav.png);
     height: rem-calc(200);
 }