$dark-blue: #285c9f;
$light-blue: #009EFD;
$teal: #18D0C1;
$green: #2af598;
$dark-gray: #595959;
$primary-gradient: transparent linear-gradient(180deg, $green 0%, $teal 100%) 0% 0% no-repeat padding-box;
$secondary-gradient: transparent linear-gradient(180deg, $teal 0%, $green 100%) 0% 0% no-repeat padding-box;